div.mobile-console {
  --show-lines: 8; //how much lines to show initially

  --bg-color: #FFF;
  --text-color: #222;

  --handle-color: #DDD;
  --handle-color-active: #00afff;
  --border-color-row: #EEE;

  --border-selected: rgba(0, 175, 255, 0.3);
  --bg-selected: rgba(144, 191, 213, 0.2);

  --border-error: rgba(255, 184, 184, 0.3);
  --text-error: #e00000;
  --bg-error: rgba(255, 0, 0, 0.1);

  --border-warn: rgba(255, 221, 149, 0.3);
  --icon-warn: #deb40c;
  --text-warn: #72635a;
  --bg-warn: rgba(255, 226, 113, 0.2);

  --console-color-array-value: #00316b;
  --console-color-tagname: #831282;
  --console-color-string: #d90f00;
  --console-color-element-attr: #994500;
  --console-color-element-attr-val: #211dab;
  --console-color-obj-prop: #666;
  --console-color-obj-prop-expanded: #640064;
  --console-color-obj-length: #aa7aad;
  --console-color-boolean: #211dab;
  --console-color-function: #666;
  --console-color-function-expanded: #0050b2;

  @media (prefers-color-scheme: dark) {
    --bg-color: #222;
    --text-color: #EEE;

    --handle-color: #555;
    --border-color-row: #444;
    --border-selected: rgba(0, 175, 255, 0.6);
    --bg-selected: rgba(50, 75, 140, 0.2);

    --text-warn: #ff9800;
    --bg-warn: rgba(255, 180, 0, 0.1);
    --icon-warn: #ffcc00;
    --text-error: #ff6767;

    --console-color-array-value: #9980ff;
    --console-color-hellip: #fff;
    --console-color-string: #35d4c7;
    --console-color-tagname: #5db0d7;
    --console-color-element-attr: #9bbbdc;
    --console-color-element-attr-val: #f29766;
    --console-color-obj-prop: #AAA;
    --console-color-obj-prop-expanded: #03bcf4;
    --console-color-obj-length: #178575;
    --console-color-boolean: #9980ff;
    --console-color-function: #AAA;
    --console-color-function-expanded: #ff9800;
  }

  --line-height: 26px;
  --line-height-input: 32px;
  --font-size: 12px;
  --font-size-input: 16px;
  --handle-height: 16px;

  display: flex;
  flex-direction: column;
  overscroll-behavior-y: none;
  padding: 0;
  margin: 0;
  margin-top: var(--handle-height);
  box-sizing: content-box;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  border: 0 none;
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: Consolas, monaco, monospace;
  z-index: 999999;
  background-color: var(--bg-color);
  color: var(--text-color);
  height: calc((var(--line-height) * var(--show-lines)) + var(--line-height-input));
  max-height: calc(100vh - var(--handle-height));

  &.minimized {
    height: calc(var(--line-height-input) + var(--line-height)) !important;
  }

  div.mc-scroll-handle {
    touch-action: none;
    /* stops page from dragging down when adjusting the size of mobile console */
    -webkit-user-select: none;
    /* disable selection/Copy of UIWebView */
    -webkit-touch-callout: none;
    /* disable the IOS popup when long-press on a link */
    z-index: 2;
    content: "";
    background-color: var(--handle-color);
    position: absolute;
    top: calc(0px - var(--handle-height));
    height: var(--handle-height);
    width: 100%;
    cursor: ns-resize;

    &::before {
      content: "";
      display: block;
      width: 140px;
      height: 30%;
      background-color: #AAA;
      position: relative;
      left: calc(50% - 70px);
      border-radius: 3px;
      top: 35%;
    }

    &.active {
      background-color: var(--handle-color-active);

      &::before {
        background-color: rgba(255, 255, 255, 0.75);
      }
    }
  }
  &::before {
    //pushes down console when empty
    content: "";
    flex: 1 1 0;
  }

  div.mc-scroller-wrapper {
    -webkit-overflow-scrolling: touch;
    touch-action: pan-y;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;

    div.mc-scroller-content {
      justify-content: flex-start;
      place-content: flex-start;
      place-self: stretch;
      flex-basis: 100%;
      height: fit-content;
    }

    span.mc-row {
      color: var(--text-color);
      padding: 0 8px 0 0;
      display: flex;
      overflow: hidden;
      animation: fadein 100ms normal forwards linear;
      max-height: var(--line-height);
      max-width: 100%;
      box-shadow: 0 1px 0 0 inset var(--border-color-row);
      &:last-child {
        box-shadow: 0 -1px 0 0 inset var(--border-color-row), 0 1px 0 0 inset var(--border-color-row);
      }
      svg {
        vertical-align: middle;
      }
      & .visible-expanded {
        display: none;
      }
      & .hidden-expanded {
        display: inline-block;
      }
      & .mc-row-firstline {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        display: block;
      }
      &.mc-row-expanded {
        max-height: fit-content;
        span.expander > svg {
          transform: rotate(90deg);
        }
        & .visible-expanded {
          display: inline-block;
        }
        & .hidden-expanded {
          display: none;
        }
        & .mc-element-row,
        & .mc-object-row {
          display: block;
        }
      }

      & > span.mc-icon {
        width: var(--line-height);
        max-height: var(--line-height);
        text-align: center;
        flex-shrink: 0;
        & > svg {
          width: 50%;
          align-self: center;
          vertical-align: center;
        }
      }

      & > span.mc-message {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        & span.inline-console-icon {
          max-height: var(--line-height);
          text-align: center;
          & > svg {
            width: calc(var(--font-size) * .75);
            margin: 0 2px 0 0;
            align-self: center;
            vertical-align: center;
          }
          &.expander {
            color: #787878;
          }
        }
        pre {
          margin: 0 !important;
          padding: 0 !important;
          text-indent: 1rem;
          font-size: inherit !important;
        }
      }
      &.mc-row-expanded > span.mc-message {
        max-height: fit-content;
        overflow: visible;
        white-space: normal;
        overflow-wrap: anywhere;
      }

      & .mc-element-row,
      & .mc-object-row {
        line-height: calc(var(--line-height) * 0.75);
      }

      & > span.mc-referrer {
        align-self: flex-start;
        flex-shrink: 1;
        //max-width: calc(50vw - (var(--line-height) * 2));
        word-break: keep-all;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #888888;
        display: flex;
        justify-content: flex-end;
        max-width: calc((100% - var(--line-height)) / 2);
        & > a {
          color: #888888;
        }
      }

      &.mc-row-warn {
        background-color: var(--bg-warn);
        color: var(--text-warn);
        --border-color-row: var(--border-warn);
        & > span.mc-icon {
          color: var(--icon-warn);
        }
      }
      &.mc-row-error {
        background-color: var(--bg-error);
        color: var(--text-error);
        --border-color-row: var(--border-error);
        & > span.mc-icon {
          color: var(--text-error);
        }
      }
      &.mc-row-log.mc-row-expanded,
      &.mc-row-timeEnd.mc-row-expanded,
      &.mc-row-info.mc-row-expanded {
        background-color: var(--bg-selected);
      }
      &.mc-row-log.mc-row-expanded + span.mc-row,
      &.mc-row-info.mc-row-expanded + span.mc-row,
      &.mc-row-log.mc-row-expanded,
      &.mc-row-info.mc-row-expanded {
        --border-color-row: var(--border-selected);
      }

      & .mc-color-text {
        color: var(--text-color);
      }
      & .mc-color-grey {
        color: #888888;
      }
      & .mc-color-tag {
        color: var(--console-color-tagname);
      }
      & .mc-color-string {
        color: var(--console-color-string);
      }
      & .mc-color-hellip {
        color: var(--console-color-hellip);
      }
      & .mc-color-element-attr {
        color: var(--console-color-element-attr);
      }
      & .mc-color-element-attr-val {
        color: var(--console-color-element-attr-val);
      }
      & .mc-color-obj-prop,
      & .mc-color-obj-prop-unchanged {
        color: var(--console-color-obj-prop);
      }
      & .mc-color-obj-length {
        color: var(--console-color-obj-length);
      }
      & .mc-color-function {
        color: var(--console-color-function);
      }
      & .mc-color-boolean {
        color: var(--console-color-boolean);
      }
      & .mc-color-array-value {
        color: var(--console-color-array-value);
      }
      &.mc-row-expanded .mc-object-row {
        & .mc-color-function {
          color: var(--console-color-function-expanded);
        }
        .mc-color-obj-prop {
          font-weight: bold;
          color: var(--console-color-obj-prop-expanded);
        }
      }
    }
  }

  div.mc-input {
    display: flex;
    height: var(--line-height-input);
    padding: 0;
    form.mc-input-form {
      flex: 1;
    }
    input.mc-input-input {
      background-color: var(--bg-color);
      color: var(--text-color);
      font-size: var(--font-size-input);
      height: var(--line-height-input);
      line-height: var(--line-height-input);
      padding: 0;
      border: 0 none;
      width: 100%;
    }
    input.mc-input-input:focus,
    input.mc-input-input:-webkit-autofill,
    input.mc-input-input:-webkit-autofill:hover,
    input.mc-input-input:-webkit-autofill:focus,
    input.mc-input-input:-webkit-autofill:active{
      outline: 0;
      background-color: var(--bg-color) !important;
      color: var(--text-color) !important;
      -webkit-box-shadow: 0 0 0 var(--line-height) var(--bg-color) inset !important;
      -webkit-text-fill-color: var(--text-color) !important;
    }
    span.mc-icon {
      width: var(--line-height);
      max-height: var(--line-height-input);
      text-align: center;
      flex-shrink: 0;
      color: var(--text-color);
      & > svg {
        width: 50%;
        align-self: center;
        vertical-align: bottom;
      }
    }
    span.mc-button {
      cursor: pointer;
      margin: 2px;
      & > svg {
        vertical-align: middle;
      }
      &:last-child {
        margin-right: 4px;
      }
    }
  }

  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }
}
